main {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: var(--container-2xl);
  margin-inline: auto;
  padding-inline: var(--spacing-10);
  padding-bottom: var(--spacing-16);
}

.container > div {
  width: 100%;
  
  display: flex;
  align-items: center;
  gap: var(--spacing-16);
  justify-content: space-between;
}

.container span {
  width: var(--spacing-60);
}

.container div button {
  cursor: pointer;
  padding: var(--spacing-4);
  margin-block: var(--spacing-6);

  border: none;
  font-weight: 700;
  color: var(--white);
  font-size: var(--font-xl);
  border-radius: var(--rounded);
  background-color: var(--blue-700);

  transition: var(--transition);

}
  
.container div button:hover {
  background-color: var(--red-500);
}

table {
  width: 100%;

  border-collapse: collapse;
}

thead th{
  padding: var(--spacing-4);
  background-color: var(--red-500);
}

thead button {
  cursor: pointer;

  border: none;
  color: var(--white);
  font-weight: 400;
  background-color: var(--red-500);
}

thead button:hover {
  font-weight: 900;
}

thead button.show-up::after {
  content: "▲";
  padding-left: var(--spacing-2);
}

thead button.show-down::after {
  content: "▼";
  padding-left: var(--spacing-2);
}

  
tbody td {
  color: var(--white);
  background-color: var(--blue-800);
}

tbody td:nth-child(even){
  background-color: var(--blue-900);
}

tbody td {
  text-align: center;
  padding: var(--spacing-2);
}

tr + tr {
  border-top: 3px solid var(--blue-700);
}

tbody td img {
  width: var(--spacing-16);
  height: var(--spacing-16);

  border-radius: 50%;
}

tbody td input {
  width: 100px;
}

table tbody button {
  cursor: pointer;
  background-color: var(--blue-500);
  color: var(--white);
  border: none;
  border-radius: var(--rounded);
  padding: var(--spacing-2);
  font-weight: 500;
  font-size: var(--font-sm);
}

table td button:hover {
  background-color: var(--red-500);
}