table {
  max-width: 100%;
  width: var(--container-2xl);

  border-collapse: collapse;
}

thead th{
  padding: var(--spacing-4);
  background-color: var(--red-500);}

thead button {
  cursor: pointer;

  border: none;
  color: var(--white);
  font-weight: 700;
  font-size: var(--font-md);
  background-color: var(--red-500);

  transition: var(--transition);
}

thead button:hover {
  color: var(--red-100);
}

thead button.show-up::after {
  content: "▲";
  padding-left: var(--spacing-2);
}

thead button.show-down::after {
  content: "▼";
  padding-left: var(--spacing-2);
}

tbody td {
  color: var(--white);
  background-color: var(--blue-800);
}

tbody td:nth-child(even){
  background-color: var(--blue-900);
}

tbody td {
  text-align: center;
  padding: var(--spacing-2);
}

tr + tr {
  border-top: 3px solid var(--blue-950);
}

tbody td img {
  width: var(--spacing-16);
  height: var(--spacing-16);

  border-radius: 50%;
}

.tr_inputs {
  border: 3px solid var(--red-500);
}