:root {
  --blue-100: #CCE6F9;
  --blue-200: #99CCF2;
  --blue-300: #66B3EC;
  --blue-400: #3399E5;
  --blue-500: #0080DF;
  --blue-600: #006DC3;
  --blue-700: #005BA6;
  --blue-800: #00488A;
  --blue-900: #00366D;
  --blue-950: #002351;
  
  --red-100: #F8D2D4;
  --red-200: #F0A5A8;
  --red-300: #E9787D;
  --red-400: #E14B51;
  --red-500: #DA1E26;
  --red-600: #AE181E;
  --red-700: #831217;
  --red-800: #570C0F;
  --red-900: #2C0608;

  --black: #000000;
  --white: #FFFFFF;

  --transition: all .5s;
  --font-family: 'Roboto', sans-serif;
  --border-radius: 5px;

  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;

  background-image: url("./assets/background.png");
  background-color: var(--blue-950);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;

  font-family: var(--font-family);
}

header {
  background: var(--blue-900);
  padding-block: 1.5rem;

  /* opacity: .8; */

  display: flex;
  align-items: center;
  justify-content: space-around;
}

header .alura-logo {
  width: 50px;
}

header .page-logo {
  width: 170px;
}

header a {
  padding: 0.5rem;
  border-radius: var(--border-radius);
  
  line-height: 0;
  color: var(--white);
  text-decoration: none;

  transition: var(--transition);
}

header a:hover {
  background: var(--red-500);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  margin-top: 3rem;
  margin-inline: 5rem;  
}

nav .card { 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  
  background-color: var(--blue-900);

  border-radius: var(--border-radius);
  text-decoration: none;
  color: var(--white);
  font-weight: 700;
  font-family: var(--font-family);

  transition: var(--transition);
}

nav .card:hover {
  background-color: var(--red-500);
}

label {
  color: var(--white);
  font-size: 1.5rem;
}

input {
  background: var(--blue-900);
  color: var(--white);
  padding: 0.5rem;
  font-size: 1.5rem;

  
  border: 2px solid var(--blue-300);


  border-radius: var(--border-radius);

  width: 6rem;
  font-weight: 600;

}

input:focus {
  outline: none;
  border-color: var(--red-500);
  background-color:  var(--blue-900);
}

button {
  cursor: pointer;

  font-weight: 700;
  border: none;
  background-color: var(--blue-900);

  color: var(--white);
  padding: .5rem;
  font-size: 1.5rem;

  border-radius: var(--border-radius);
  
    
  border: 2px solid var(--blue-300);

  transition: var(--transition);

}

button:hover {
  border-color: var(--red-500);
  background-color: var(--blue-900);
}