@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --blue-100: #CCE6F9;
  --blue-200: #99CCF2;
  --blue-300: #66B3EC;
  --blue-400: #3399E5;
  --blue-500: #0080DF;
  --blue-600: #006DC3;
  --blue-700: #005BA6;
  --blue-800: #00488A;
  --blue-900: #00366D;
  --blue-950: #002351;
  
  --red-100: #F8D2D4;
  --red-200: #F0A5A8;
  --red-300: #E9787D;
  --red-400: #E14B51;
  --red-500: #DA1E26;
  --red-600: #AE181E;
  --red-700: #831217;
  --red-800: #570C0F;
  --red-900: #2C0608;

  --gray-200: #E3E3E3;
  --gray-300: #C6C6C6;
  --gray-400: #AAAAAA;
  --gray-500: #8E8E8E;
  --gray-600: #717171;
  --gray-700: #555555;
  --gray-800: #393939;
  --gray-900: #1C1C1C;

  --black: #000000;
  --white: #FFFFFF;
  --overlay: rgb(0 0 0 / 0.7);

  --transition: all .5s;
  --rounded: 0.25rem; /* 4px */
  
  --spacing-1: 0.25rem;  /* 4px */ 
  --spacing-2: 0.5rem;   /* 8px */
  --spacing-3: 0.75rem;  /* 12px */
  --spacing-4: 1rem;     /* 16px */
  --spacing-5: 1.25rem;  /* 20px */
  --spacing-6: 1.5rem;   /* 24px */
  --spacing-7: 1.75rem;  /* 28px */
  --spacing-8: 2rem;     /* 32px */
  --spacing-9: 2.25rem;  /* 36px */
  --spacing-10: 2.5rem;  /* 40px */
  --spacing-11: 2.75rem; /* 44px */
  --spacing-12: 3rem;    /* 48px */
  --spacing-14: 3.5rem;  /* 56px */
  --spacing-16: 4rem;    /* 64px */
  --spacing-20: 5rem;    /* 80px */
  --spacing-24: 6rem;    /* 96px */
  --spacing-28: 7rem;    /* 112px */
  --spacing-32: 8rem;    /* 128px */
  --spacing-36: 9rem;    /* 144px */
  --spacing-40: 10rem;   /* 160px */
  --spacing-44: 11rem;   /* 176px */
  --spacing-48: 12rem;   /* 192px */
  --spacing-52: 13rem;   /* 208px */
  --spacing-56: 14rem;   /* 224px */
  --spacing-60: 15rem;   /* 240px */
  --spacing-64: 16rem;   /* 256px */
  --spacing-72: 18rem;   /* 288px */
  --spacing-80: 20rem;   /* 320px */
  --spacing-96: 14rem;   /* 384px */

  --container-sm: 640px;
  --container-md: 768px;
  --container-lg: 1024px;
  --container-xl: 1280px;
  --container-2xl: 1536px;

  --font-xs: 0.75rem;   /* 12px */
  --font-sm: 0.875rem;  /* 14px */
  --font-md: 1rem;      /* 16px */
  --font-lg: 1.125rem;  /* 18px */
  --font-xl: 1.25rem;   /* 20px */
  --font-2xl: 1.5rem;   /* 24px */
  --font-3xl: 1.875rem; /* 30px */
  --font-4xl: 2.25rem;  /* 36px */
  --font-5xl: 3rem;     /* 48px */
  --font-6xl: 3.75rem;  /* 60px */
  --font-7xl: 4.5rem;   /* 72px */
  --font-8xl: 6rem;     /* 96px */ 
  --font-9xl: 8rem;     /* 128px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
}

body {
  color: var(--white);
  background-color: var(--blue-950);
}

.header {
  padding: auto;
  background: var(--blue-900);
}

.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-4);
    
  padding: var(--spacing-4);
  margin: auto;
  height: fit-content;
  max-width: var(--container-lg);
}

.header div {
  display: flex;
  justify-content: end;
  width: var(--spacing-48);
}

.header a {
  padding: var(--spacing-1);
  border-radius: var(--rounded);
  transition: var(--transition);
}

.header a:hover {
  background: var(--red-500);
}

.header img {
  width: 100%;
}

.header .title {
  color: var(--white);
  text-decoration: none;
  border-radius: var(--rounded); 
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-10);
  
  max-width: var(--container-2xl);
  margin-inline: auto;
  padding-inline: var(--spacing-8);
  padding-block: var(--spacing-16);
}

.h2 {
  font-size: var(--font-3xl);
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);

  width: 100%;
  max-width: var(--container-sm);
}

.form .label-input {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.form .actions {
  display: flex;
  gap: var(--spacing-4);
  justify-content: flex-end;
  margin-top: var(--spacing-6);
}

.label {
  cursor: pointer;
  color: var(--white);
  font-size: var(--font-lg);
}

.input {
  width: 100%;
  color: var(--white);
  border: 2px solid var(--blue-500);
  background-color: var(--blue-950);
  
  font-size: var(--font-lg);

  border-radius: var(--rounded);
  font-weight: 500;
  padding: var(--spacing-2) var(--spacing-4);

  outline: none;
}

.input::placeholder {
  color: var(--blue-100);
  font-weight: 400;
  font-size: var(--font-sm);
}

.input:focus {
  border-color: var(--red-500);
}

.button {
  cursor: pointer;
  border: none;
  color: var(--white);
  background-color: var(--blue-700);
  font-weight: 500;
  font-size: var(--font-lg);

  padding: var(--spacing-2) var(--spacing-4);
  border-radius: var(--rounded);
  
  transition: var(--transition);
}

.button:hover {
  background-color: var(--blue-600);
}

.button-lg {
  padding: var(--spacing-4) var(--spacing-6);
  font-size: var(--font-lg);
}

.button-cancel {
  background-color: var(--gray-700);
}

.button-cancel:hover {
  background-color: var(--gray-600);
}

.button-delete {
  background-color: var(--red-700);
}

.button-delete:hover {
  background-color: var(--red-600);
}

