:root {
  --blue-500: #167BF7;
  --blue-700: #0D4D9C;
  --blue-900: #002351;

  --red-500: #DA1E26;

  --black: #000000;
  --white: #FFFFFF;

  --transition: all .5s;
  --font-family: 'Roboto', sans-serif;
  --border-radius: 5px;
}

body {
  margin: 0;
  padding: 0;

  background-image: url("./assets/background.png");
  background-color: var(--blue-700);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  
  font-family: var(--font-family);
}

.header {
  background: var(--blue-900);
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header .alura-logo {
  height: 30px;
}

.header .page-logo {
  height: 50px;
}

.header a {
  padding: 10px;
  border-radius: var(--border-radius);
  
  line-height: 0;
  color: var(--white);
  text-decoration: none;

  transition: var(--transition);
}
.header a:hover {
  background: var(--red-500);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  margin-top: 50px;
  margin-inline: 10%;  
}

.nav .card { 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  
  border-radius: var(--border-radius);
  text-decoration: none;
  color: var(--white);
  font-weight: 700;
  font-family: var(--font-family);

  transition: var(--transition);
}

.nav .card:hover {
  background-color: var(--red-500);
}