main > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--spacing-8);
}

.card { 
  display: flex;
  gap: var(--spacing-6);
  flex-direction: column;
  text-align: center;
  padding: var(--spacing-6);

  border-radius: var(--rounded);
  text-decoration: none;
  font-weight: 500;
  font-size: var(--font-2xl);
  color: var(--white);
  background-color: var(--blue-900);

  transition: var(--transition);
}

.card:hover {
  background-color: var(--red-500);
}

.card img {
  width: 100%;
}

