body {
  background-image: url("./assets/background.png");
  background-color: '#000000';
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  
  text-align: center;
  font-family: "Roboto Mono", monospace;
}

.container {
  padding: 20px;

  text-align: center;
}

.page-title {
  margin: 0 0 5px;

  color: #FFFFFF;
}

.page-subtitle {
  margin-top: 5px;

  color: #FFFFFF;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

#mediaList img {
  max-height: 250px;
  margin: 10px;
}

.form-wrapper {
  margin: 0 0 15px;
}

.form-wrapper input {
  display: block;
  margin: 0 auto;
  padding: 10px 15px;
}

.form-wrapper button {
  padding: 15px 20px;
  margin-top: 20px;
  
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  color: #FFFFFF;
  background: #DA1E26;
  font-weight: bold;
  font-size: 16px;

  transition: 0.3s;
}