.container {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
  flex-direction: column;
  margin-inline: var(--spacing-10);
}

.container .add {
  cursor: pointer;
  padding: var(--spacing-4);

  border: none;
  font-weight: 700;
  color: var(--white);
  font-size: var(--font-xl);
  border-radius: var(--rounded);
  background-color: var(--blue-700);

  transition: var(--transition);

  margin-block: var(--spacing-6);
}

.container .add:hover {
  background-color: var(--red-500);
}

.form {
  display: flex;
  gap: var(--spacing-4);
  flex-direction: column;
  width: var(--container-sm);
  margin-top: var(--spacing-10);
}

.form input {
  width: 100%;
  padding: var(--spacing-4);

  color: var(--white);
  font-size: var(--font-lg);
  border-radius: var(--rounded);
  border: 2px solid var(--blue-400);
  background-color: var(--blue-950);
}

.form input:focus {
  outline: none;
  border-color: var(--red-500);
}

.form input::placeholder {
  color: var(--blue-100);
}

.form div {
  display: flex;
  justify-content: space-between;
}

.form button {
  cursor: pointer;
  padding: 15px 20px;
  margin-top: 20px;
  
  border: 0;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  color: var(--white);
  background-color: var(--blue-700);

  transition: 0.3s;
}

.form button:hover {
  background-color: var(--red-500);
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--spacing-6);
  
  max-width: var(--container-2xl);
  padding: var(--spacing-8);
  margin-bottom: var(--spacing-10);
}

.item {
  position: relative;
  overflow: hidden;
  height: fit-content;
  
  max-height: 70%;
  max-width: 70%;
}

.item h3 {
  text-align: center;
  padding-block: var(--spacing-4);
  
  font-size: var(--font-2xl);
  background-color: var(--blue-700);
}

.item .cover {
  cursor: pointer;
}

.item .cover:hover img{
  filter: grayscale(0.5) blur(1px);
  
  transition: var(--transition);
}

.item .cover .remove {
  position: absolute;
  left: var(--spacing-4);
  bottom: var(--spacing-4);
  width: var(--spacing-10);
  height: var(--spacing-10);
  
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 17H9V8H11V17ZM15 8H13V17H15V8ZM19 4V5H18V21H6V5H5V4H9V3H15V4H19ZM17 5H7V20H17V5Z' fill='white'/%3E%3C/svg%3E%0A");
}

.item .cover .edit {
  position: absolute;
  right: var(--spacing-4);
  bottom: var(--spacing-4);
  width: var(--spacing-10);
  height: var(--spacing-10);

  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.06 7.59988L16.4 9.93988L6.34 19.9999H4V17.6599L14.06 7.59988ZM14.06 6.18988L3 17.2499V20.9999H6.75L17.81 9.93988L14.06 6.18988ZM17.61 4.04988L19.98 6.41988L18.84 7.55988L16.47 5.18988L17.61 4.04988ZM17.61 2.62988L15.06 5.17988L18.85 8.96988L21.4 6.41988L17.61 2.62988Z' fill='white'/%3E%3C/svg%3E%0A");
}

.item .cover .play {
  top: 50%;
  left: 50%;
  position: absolute;
  width: var(--spacing-16);
  height: var(--spacing-16);
  transform: translate(-50%, -50%);

  background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 8L38 24L14 40V8Z' fill='white'/%3E%3C/svg%3E%0A");
}

.item .cover:hover button {
  display: block;
}

.item .cover button  {
  display: none;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;

  border: none;
  border-radius: 50%;
  background-color: var(--white);
  background-color: var(--blue-500);

  transition: var(--transition);
}

.item .cover button:hover {
  background-color: var(--red-500);
}

.modal {
  inset: 0;
  z-index: 10;
  display: flex;
  cursor: pointer;
  position: fixed;
  align-items: center;
  justify-content: center;

  background-color: var(--overlay);
}

.modal::-webkit-scrollbar {
  display: none;
}

.modal iframe {
  top: 50%;
  left: 50%;
  width: 70%;
  aspect-ratio: 16/9;
  position: absolute;
  transform: translate(-50%, -50%) ;
  
  border: none;
}