main {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-direction: column;
}

label {
  color: var(--red-100);

  font-weight: 600;
}

p {
  color: var(--blue-100);
}

select {
  background-color: var(--blue-700);
  padding: 0.8rem;

  border: 2px solid var(--blue-500);

  font-size: 1.2rem;
  color: var(--white);
  font-weight: 600;

  outline: none;
}

