main {
  display: flex;
  align-items: center;
  gap: var(--spacing-5);
  flex-direction: column;
}

.mode {
  margin-top: var(--spacing-12);
}

.mode label {
  margin: auto;
  display: flex;
  align-items: center;

  font-size: var(--font-3xl);
}

.mode select {
  padding:  var(--spacing-4);
  
  border: none;
  outline: none;
  font-weight: 600;
  color: var(--white);
  font-size: var(--font-3xl);
  background-color: transparent;
}

.mode option {
  font-size: var(--font-3xl);
  background-color: var(--blue-800);
}

p {
  color: var(--blue-100);
}

.converter {
  display: flex;
  gap: var(--spacing-4);
  flex-direction: column;
}

.converter div {
  display: flex; 
  align-items: center;
  gap: var(--spacing-4);
  padding: var(--spacing-2);
  
  border: 2px solid var(--blue-700);
  border-radius: var(--rounded);
}

.converter div:has(:focus) {
  border-color: var(--red-500);
}

.converter select {
  padding:  var(--spacing-1);
  
  outline: none;
  font-weight: 600;
  color: var(--white);
  font-size: var(--font-lg);
  background-color: var(--blue-700);
}

.converter option {
  font-size: var(--font-lg);
  background-color: var(--blue-800);
}

.converter input,
.converter select {
  border: none;
  color: var(--white);
  font-size: var(--font-lg);
  background-color: transparent;
}

.converter input {
  outline: none;
  text-align: right;
}

.converter span {
  width: 2px;
  height: 48px;

  background-color: var(--blue-700);
}

.converter div:has(:focus) span {
  /* background-color: var(--blue-300); */
  background-color: var(--red-500);
  
}