section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-10);
  flex-direction: column;
  margin-inline: auto;
}

.h2 > span {
  color: var(--red-500);
  font-weight: 900;
  font-size: var(--font-2xl);
}

.section_2 .tip,
.section_2 .attempts,
.section_3 .guess { 
  display: flex;
  gap: var(--spacing-2);
  align-items: center;
  padding: var(--spacing-2);

  font-style: italic;
  color: var(--blue-100);
  font-size: var(--font-xl);
}

.section_2 .tip strong,
.section_2 .attempts strong,
.section_3 .guess strong {
  color: var(--white);
  font-size: var(--font-2xl);
}

.section_1 {
  align-items: center;
}

.section_2 {
  display: flex;
  align-items: center;
}

.section_2 .input {
  border: none;
  background-color: var(--red-500);
  
  display: inline;

  padding: var(--spacing-5);
  width: var(--spacing-40);
  height: var(--spacing-24);

  color: var(--white);
  text-align: center;

  border-radius: var(--rounded);

  font-size: var(--font-5xl);
  font-weight: 900;
}

.section_2 .range {
  width: 100%;
}

.section_3 .number {
  background-color: var(--red-500);
  
  display: inline;

  padding: var(--spacing-5);
  width: var(--spacing-40);
  height: var(--spacing-24);

  color: var(--white);
  text-align: center;

  border-radius: var(--rounded);

  font-size: var(--font-5xl);
  font-weight: 900;
}